@charset "utf-8";

/* 아카이브 사이트 공통셋팅 CSS - core.css */

/* 1. 웹폰트 */

/* 2. 공통 클래스 */
/* 2-1. 속박스 */
.inbox{
    /* 최대크기지정 */
    max-width: 1400px;
    /* 마영오! */
    margin: 0 auto;
    /* 임시 최소높이 */
    min-height: 200px;
    /* 임시 외관선 */
    outline: 2px dotted #ccc;
    /* outline은 border와 셋팅법은 같음
    단, 크기를 차지하지 않고 바깥쪽으로 아무런 영향없이 보이기만 함! */
}
/* 인박스 클리어셋팅 */
.inbox::after{
    content: '';
    display: block;
    clear: both;
}

/* 2-2. 파티션박스
.inbox 내부에 옆으로 흘러가는 파티션 박스를 구성한다!
float방식으로 구현할 경우 부모박스의 가상요소로 clear한다! */
.part-box{
    float: left;
}