@charset "utf-8";

/* 아카이브 사이트 초기화 CSS - reset.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/* 전체 배경 */
body {
  background-color: #000;
}

/* 1. 상단 영역 */
/* 겉박스 */
#top-area {
  background-color: #ffffff;
}

/* 속박스 */
.top-area .part-box {
  /* padding-top: 11px; */
  /* 상단영역 높이값 동일셋팅! */
  height: 93px;
}
/* 로고이미지 */
.logo {
  width: 100%;
  aspect-ratio: 220 / 71;
  margin-top: 11px;
}

/* GNB메뉴 */

/* float해제설정 */
#gnb {
  max-width: 700px;
  margin: 0 auto;
  outline: 1px solid red;
}
#gnb::after {
  content: '';
  display: block;
  clear: both;
}

#gnb li {
  float: left;
  /* 높이값만큼 줄간격셋팅 */
  line-height: 93px;
}

/* 두번째 li부터 끝까지 왼쪽마진 */
#gnb li+li {
  margin-left: 25.6%;
  /* 마진의 %값의 기준은 부모박스의 크기이다! */
}
