@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */

/* 초기화CSS */
@import url(./reset.css);

/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정 */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든것들 선택하는 문자열 */
.main-area > * {
  margin-bottom: 20px;
}

/* 2-1. 서브타이틀 */
.sub-title {
  /* (1)박스디자인 */
  /* 패딩 p40 */
  padding: 40px;
  /* 글자중앙 tac */
  text-align: center;
  /* 테두리 bd */
  border: 2px solid #254791;
  /* 둥근모서리 bdrs20 */
  border-radius: 20px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg -> 색이반고윙/크 */
  /* background: url(../images/titbg4.jpg) no-repeat 0/cover; */

  /* (2)글자디자인 */
  /* 글자체 ff */
  font-family: "Jua", sans-serif;
  /* 글자크기 fz40 */
  font-size: 40px;

  /* 글자테두리 webtst
    -> 테두리 두게를 더 얇게 하려면
    px단위 숫자를 소수점 아래로 쓰면됨 */
  -webkit-text-stroke: 0.1px black;
  /* 접두어란?
    속성 앞에 -webkit- 라고 쓰면
    크롬, 사파리 브라우저용 속성임
    -ms- 마이크로소프트
    -o- 오페라 브라우저
    -moz- 파이어폭스
    이 속성은 이미 공식적으로는 아니지만
    다른 최신 브라우저에서 사용됨!
     */
}
/* 각 서브별 타이틀 셋팅 변경하기 */
/* (1) 경제페이지*/
.economics {
  color: #ffffff;
  background-image: url(../images/titbg2.jpg);
}
/* (2) 사회페이지 */
.social {
  color: #9bfcff;
  background-image: url(../images/titbg3.jpg);
}
/* (3) IT/과학페이지 */
.it {
  color: #ffffff;
  background-image: url(../images/titbg4.jpg);
}
/* (4) TV/연예페이지 */
.tv {
  color: #9bfcff;
  background-image: url(../images/titbg5.jpg);
}

/* 2-2. 언론사로고 */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 33px;
}

/* 스페셜박스(추가정보박스) */
.special-box {
  font-size: 18px;
}
/* 스페셜 제목 */
.special-box h4 {
  /* 왼쪽 보더 bl */
  border-left: 3px solid #000;
  /* 왼쪽패딩 pl */
  padding-left: 20px;
  /* 아랫쪽 간격 mb */
  margin-bottom: 40px;
}
/* 스페셜 내용 */
.special-box p {
  line-height: 1.7;
}

/* 2-4. 기사사진 */
.article-picture img {
  width: 100%;
}
/* 이미지설명 */
.article-picture figcaption {
  /* 박스설정 */
  /* 마진 위아래 20px 양쪽 0 */
  margin: 20px 0;
  text-align: center;

  /* 글자설정 */
  font-size: 15px;
  color: #666;
}
/* 2-5. 기사내용 */
.contents p {
  /* 글자설정 */
  font-size: 18px;
  /* 줄간격 lh - 숫자값은 글자크기에 대한 배수임! */
  line-height: 1.7;
}
/* 2-6. 기자정보 */
.reporter {
  font-size: 16px;
  color: #333;
}
/* 2-7. 기사원문 */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a요소 */
.article-link a {
  /* 디자인 적용 및 부모박스의 문자열
  정렬 적용되도록 인라인블록으로 변경! */
  display: inline-block;

  /* (1) 박스설정 */
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fffbeb;
  text-align: center;
  line-height: 100px;

  /* (2) 글자설정 */
  font-family: "Jua", sans-serif;
  font-size: 20px;
  color: #000;
}

/* 버튼 a 마우스 오버시
-> 가상클래스 오버시 :hover사용! */
.article-link a:hover {
  /* 배경색 */
  background-color: #9be6ff;
  /* 박스그림자 bxsh
  box-shadow: 
  inset(내부그림자) x축 y축 블러 그림자색;
  -> 글자그림자에는 없는 "확장"(spread)가 있음
  즉, 그림자를 크게 만들 수 있음!
  그리고 콤마로 설정을 연결하면 여러개의 그림자 사용가능!
   */
  box-shadow: 
  /* 내부그림자 */
  inset 0 0 5px 5px #508ea2,
  /* 외부그림자 */
  5px 5px 3px #00000093;
}
