@charset "utf-8";
/* 서브 페이지 CSS - sub.css */

/* 공통 외부 CSS 불러오기 */
/* @import url(경로/파일명); */
@import url(./common.css);


/* 2-1. 서브타이틀 */
.sub-title{
    /* (1)박스디자인 */
    /* 패딩 20 */
    padding: 40px;
    /* 글자중앙 tac */
    text-align: center;
    /* 테두리 bd */
    border: 2px solid #254791;
    /* 둥근모서리 bdrs20 */
    border-radius: 20px;
    /* 배경넣기 bg -> 색이반고윙/크 */
    background: url(../images/titbg4.jpg) no-repeat 0/cover;
    
    /* (2)글자디자인 */
    /* 글자크기 fz30 */
    font-size: 30px;
}
/* 2-2. 언론사로고 */
/* 2-3. 기사제목 */
/* 2-4. 기사사진  */
/* 2-5. 기사내용 */
/* 2-6. 기자정보 */
/* 2-7. 기사원문 */